In [5]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [6]:
db_url = 'postgresql://postgres:postgres@localhost:5432/datos_telefonia'
engine = create_engine(db_url)

In [7]:
query = """
    SELECT *
    FROM viajes_distritos_15_enero
    WHERE  gau_origen = 'GAU Sevilla'
    AND gau_destino = 'GAU Sevilla'
    AND renta = '<10' 
    AND hora > 6 AND hora < 21
"""

#Si quisiesemos hacer filtrado de fechas, AND fecha >= '2023-01-15 00:00:00' AND fecha < '2023-02-04 00:00:00'

In [8]:
conn = psycopg2.connect(db_url)

In [9]:
# Ejecutar la consulta y guardar los resultados en un DataFrame de pandas
df_viajes = pd.read_sql_query(query, conn)
df_viajes

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29872\2158733781.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_viajes = pd.read_sql_query(query, conn)

,fecha_hora,mes,dia,hora,origen,destino,flujo,distrito_origen,distrito_destino,municipio_origen,...,provincia_origen,provincia_destino,distancia,actividad_origen,actividad_destino,renta,edad,sexo,viajes,viajes_km
0,2023-01-15 12:00:00,1,15,12,4100401,4100403,4100401 - 4100403,Alcalá de Guadaíra distrito 01,Alcalá de Guadaíra distrito 03,Alcalá de Guadaíra,...,Sevilla,Sevilla,0.5-2,frecuente,frecuente,<10,0-25,hombre,10.742,12.672
1,2023-01-15 19:00:00,1,15,19,4100401,4100403,4100401 - 4100403,Alcalá de Guadaíra distrito 01,Alcalá de Guadaíra distrito 03,Alcalá de Guadaíra,...,Sevilla,Sevilla,0.5-2,frecuente,frecuente,<10,45-65,mujer,2.425,4.307
2,2023-01-15 15:00:00,1,15,15,4100401,4103801,4100401 - 4103801,Alcalá de Guadaíra distrito 01,Dos Hermanas distrito 01,Alcalá de Guadaíra,...,Sevilla,Sevilla,2-10,no_frecuente,frecuente,<10,45-65,mujer,3.069,26.334
3,2023-01-15 10:00:00,1,15,10,4100401,4100404,4100401 - 4100404,Alcalá de Guadaíra distrito 01,Alcalá de Guadaíra distrito 04,Alcalá de Guadaíra,...,Sevilla,Sevilla,0.5-2,frecuente,frecuente,<10,0-25,hombre,10.593,15.772
4,2023-01-15 16:00:00,1,15,16,4100404,41021,4100404 - 41021,Alcalá de Guadaíra distrito 04,Camas,Alcalá de Guadaíra,...,Sevilla,Sevilla,10-50,no_frecuente,casa,<10,25-45,mujer,5.431,92.266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42574,2023-01-15 20:00:00,1,15,20,41102,41102,41102 - 41102,"Viso del Alcor, El","Viso del Alcor, El","Viso del Alcor, El",...,Sevilla,Sevilla,2-10,frecuente,casa,<10,45-65,mujer,21.507,54.529
42575,2023-01-15 20:00:00,1,15,20,41102,41102,41102 - 41102,"Viso del Alcor, El","Viso del Alcor, El","Viso del Alcor, El",...,Sevilla,Sevilla,2-10,frecuente,frecuente,<10,25-45,hombre,2.742,6.170
42576,2023-01-15 20:00:00,1,15,20,41102,41102,41102 - 41102,"Viso del Alcor, El","Viso del Alcor, El","Viso del Alcor, El",...,Sevilla,Sevilla,2-10,no_frecuente,casa,<10,25-45,hombre,2.818,7.130
42577,2023-01-15 20:00:00,1,15,20,41102,41102,41102 - 41102,"Viso del Alcor, El","Viso del Alcor, El","Viso del Alcor, El",...,Sevilla,Sevilla,2-10,trabajo_estudio,casa,<10,45-65,hombre,2.267,4.810
42578,2023-01-15 20:00:00,1,15,20,41102,41102,41102 - 41102,"Viso del Alcor, El","Viso del Alcor, El","Viso del Alcor, El",...,Sevilla,Sevilla,2-10,trabajo_estudio,casa,<10,45-65,mujer,1.888,3.955

In [10]:
# Cerrar la conexión
conn.close()

In [11]:
df_viajes.to_sql('viajes_sevilla_15_enero', engine, if_exists='replace', index=False)

579